@model WebBanHang.Models.Product
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("_sidebar")
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="@Url.Action("Index","Home")">Home</a>
                        <a href="@Url.Action("viewALLnew","Product")">@Model.Category.Name</a>
                        <a href="">@Model.Name</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">

                                    <img src="~/Images/products/@Model.Image" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="img/product-thumb-1.jpg" alt="">
                                    <img src="img/product-thumb-2.jpg" alt="">
                                    <img src="img/product-thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.Name</h2>
                                <div class="product-inner-price">
                                    <ins>@Model.UnitPrice</ins> <del>$100.00</del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { ProID = Model.ProductId })" class="add_to_cart_button" type="submit">Add to cart</a>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>
                                            <p>@Model.Description</p>

                                           
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <div class="rating-chooser">
                                                    <p>Your rating</p>

                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Submit"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
@foreach (var item in Model.Category.Products)
{
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="~/Images/products/@item.Image" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="@Url.Action("Detail","Product",new { ProID = item.ProductId } )" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">@item.Name</a></h2>

                                <div class="product-carousel-price">
                                    <ins>@item.UnitPrice</ins> <del>$100.00</del>
                                </div>
                            </div>
}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="row">
    <h2>Chi tiết hàng hóa</h2>
    <div class=" col-md-6 text-left">
        <img src="~/Images/products/@Model.Image" style="width:500px; height:auto" />
    </div>
    <ul class="col-md-6 text-left">
        <li><b>Ma san pham:</b> @Model.ProductId</li>
        <li><b>Ten hang:</b> @Model.Name</li>
        <li><b>Gia Hang:</b> @Model.UnitPrice</li>
        <li><b>Chung loai:</b>@Model.Category.Name</li>
        <li><b>Nha cung cap:</b>@Model.Supplier.Name</li>
    </ul>
</div>
<div class="row text-left">
    @Model.Description
</div>
<hr />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home1">Sản phẩm cùng loại(@Model.Category.Name)</a></li>
    <li><a data-toggle="tab" href="#menu1">Sản phẩm được cung cấp bởi(@Model.Supplier.Name)</a></li>
</ul>

<div class="tab-content">
    <div id="home1" class="tab-pane fade in active">
        @foreach (var item in Model.Category.Products)
        {
            <div class="col-md-2" style="padding:5px">
                <a href="/Product/Detail/@item.ProductId">  
                    <img src="~/Images/products/@item.Image" style="width:100px;" />
                </a>
            </div>
        }
    </div>
    <div id="menu1" class="tab-pane fade">
        @foreach (var item in Model.Supplier.Products)
        {
            <div class="col-md-2" style="padding:5px">
                <a href="/Product/Detail/@item.ProductId">
                    <img src="~/Images/products/@item.Image" style="width:100px;" />
                </a>
            </div>
        }
    </div>
</div>*@
