@model PagedList.IPagedList<WebBanHang.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Xem tất cả";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.TieuDe</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/Images/products/@item.Image" style="width:100px;height:100px" alt="">
                        </div>
                        <h2><a href="">@item.Name</a></h2>
                        <div class="product-carousel-price">
                            <ins>@item.UnitPrice</ins> <del>$999.00</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" rel="nofollow" href="@Url.Action("AddToCart", "ShoppingCart", new { ProID = item.ProductId })">Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>@Html.PagedListPager(Model, page => Url.Action("Index", new { page, CatID = ViewBag.CatID, SupID = ViewBag.SupID }))</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@*@model PagedList.IPagedList<WebBanHang.Models.Product>
@using PagedList.Mvc;
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ChungLoai")
        @Html.Partial("_NhaCungCap")
    </div>
    <div class="col-md-9">
<h2 class="text-center" style="font-size:14px;width:300px;padding:15px;color:white;border-radius:10px;margin:auto; background-color:#4cff00;">@ViewBag.TieuDe</h2>
        <hr />
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        @item.Name
                    </div>
                    <div class="panel-body text-center" style="position:relative;">
                        <img src="~/Images/products/@item.Image" style="width:100px;height:100px" />
                        <div class=" text-center text-danger" style="position:absolute; z-index:1; background-color:yellow;left:3px;top:60px;border-radius:6px;">Trả góp 0%</div>
                        <div class="text-center" style=" background-color:red; border-radius:5px;color:white;z-index:1;position:absolute;padding:4px 7px;top: 90px;left:3px;" >@item.UnitPrice usd</div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                           
                            <div class="col-md-10 text-right">
                                @Html.ActionLink("Detail", "Detail", "Product", new { ProID = item.ProductId }, new { @class = "btn btn-success"})
                                @Html.ActionLink("Buy", "AddToCart", "ShoppingCart", new { ProID = item.ProductId }, new { @class = "btn btn-success"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div class="clearfix"></div>
<div class="row text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, CatID = ViewBag.CatID, SupID=ViewBag.SupID }))
</div>*@

